<%= form_with(model: video) do |form| %>
  <% if video.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
        <% video.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :playlist_id, style: "display: block" %>
    <%= form.text_field :playlist_id %>
  </div>

  <div>
    <%= form.label :videoid, style: "display: block" %>
    <%= form.text_field :videoid %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :downloaded_at, style: "display: block" %>
    <%= form.datetime_field :downloaded_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
