<div id="<%= dom_id video %>">
  <p>
    <strong>Playlist:</strong>
    <%= video.playlist_id %>
  </p>

  <p>
    <strong>VideoId:</strong>
    <%= video.videoid %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= video.title %>
  </p>

  <p>
    <strong>Downloaded at:</strong>
    <%= video.downloaded_at %>
  </p>

</div>
