<p style="color: green"><%= notice %></p>

<iframe width="1200" height="675" src="http://mac-mini---xi.local:32400/web/index.html#!/media/56f69e1c3393c7ac50adb00010da504d5b235b45/com.plexapp.plugins.library?source=9&key=%2Flibrary%2Fsections%2F9%2Fall%3Ftype%3D1%26sort%3DaddedAt%26unwatched%3D1"></iframe>

<div id="playlists">
  <table>
    <tr>
      <th>Channel</th>
      <th>Playlist</th>
      <% @weeks.each do |date| %>
        <th><%= date.strftime("%b %d") %></th>
      <% end %>
    </tr>
    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= playlist.channel %></td>
        <td><%= link_to playlist.title, playlist.url %></td>
        <% @weeks.each do |date| %>
          <td>
            <% playlist.videos.current.where(created_at: (date)...(date+7)).each do |video| %>
              <input type="checkbox" title="<%= video.title %>" <%= "checked" if video.downloaded? %> <%= "disabled" if video.watched? %>>
            <% end %>
          </td>
        <% end %>
        <td><%= link_to "Details", playlist %></td>
      </tr>
    <% end %>
  </table>
</div>

<hr>

<%= form_with(model: Playlist.new) do |form| %>
  <div>
    <%= form.label :url, "Playlist Url:", style: "display: inline" %>
    <%= form.text_field :url %>
    <%= form.submit "Add" %>
  </div>
<% end %>
